#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: greeny\SlackBot\*Module\*Presenter

	session:
		expiration: 14 days


services:
	connection:
		class: LeanMapper\Connection( %database%, ... )
	- greeny\SlackBot\Model\Mapper
	- LeanMapper\DefaultEntityFactory

	- greeny\SlackBot\TextParser\TextParser

	- greeny\SlackBot\HelloAction
	- greeny\SlackBot\HelpAction
	- greeny\SlackBot\UtilsAction
	- greeny\SlackBot\GithubAction
	- greeny\SlackBot\TextAction

	- greeny\Api\Drivers\CurlDriver
	- greeny\SlackBot\Github\Github(%github%)

	- greeny\SlackBot\Bot

	- greeny\SlackBot\Model\UserRepository

	- greeny\SlackBot\Security\Authenticator
	- greeny\SlackBot\Security\Authorizator

	- greeny\SlackBot\Routing\RouterFactory
	router: @greeny\SlackBot\Routing\RouterFactory::createRouter
